body {
    padding: 0 1rem;
}
.App {
    text-align: left;
}
.pull-right {
    float: right;
}

.inputs {
    display: inline-block;
    width: 20rem;
    min-width: 20rem;
    margin: 68px auto 5rem auto;
}
.inputs tr td:nth-child(3),
.inputs tr td:nth-child(1) {
    text-align: center;
}
.inputs input {
    margin-top:.25rem;
    margin-bottom:.25rem;
    width: 5rem;
}

.inputs input[type=submit] {
    max-width: 50%;
    margin: 1rem auto;
}

table {
    border-collapse: collapse;
}

td.comment {
    max-width: 30rem;
}

td {
    padding: 1px 5px;
    border: 1px solid black;
}

td.numeric {
    white-space: pre-wrap;
    font-family: monospace;
}

.inputs form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inputs form input[type="submit"] {
    grid-column: 1 / span 2;
    min-width: 5rem;
    width: 100%;
}

.activities {
    flex: 2 0 600px;
    display: inline-block;
}
.summary {
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.header {
    font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="text"]:focus {
    background-color: #ff0;
}

.input-valid, .input-valid:focus {
    outline: none !important;
    border: 2px solid #484 !important;
}
.input-invalid, .input-invalid:focus {
    outline: none !important;
    border: 2px solid #B44 !important;
}

.btn-primary {
    border: 2px solid #77ee77;
    background-color: #66dd66;
}

.btn {
    padding: 5px;
    font-weight: bold;
}
.btn-danger {
    border: 2px solid #ee7777;
    background-color: #dd6666;
    color: white;
}
