body {
    padding: 0 1rem;
}
#root {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: clamp(200px, 70vh, 650px)  clamp(200px, 30vh, 300px);
}
.activities {
    grid-column: 1;
    grid-row: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.inputs {
    grid-column: 1;
    grid-row: 2;
}
.summary {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
    text-align: left;
    display: flex;
    vertical-align: top;
    flex-direction: column;
    height: 100%;
}
.App {
    text-align: left;
}
.pull-right {
    float: right;
}

.inputs {
    display: inline-block;
    min-width: 105px;
    margin: 0 auto 5rem auto;
}

.inputs tr td:nth-child(1) {
    min-width: 105px;
    background-color: #ccc;
}

.inputs tr td:nth-child(3),
.inputs tr td:nth-child(1) {
    text-align: center;
}
.inputs input {
    margin-top:.25rem;
    margin-bottom:.25rem;
    width: 4rem;
}

.inputs input[type=submit] {
    max-width: 50%;
    margin: 1rem auto;
}

table {
    border-collapse: collapse;
}

td.comment {
    max-width: 30rem;
}

td {
    padding: 1px 5px;
}
.activities td, .summary td {
    border: 1px solid black;
}
table {
    border: 1px solid black;
}

td.numeric {
    white-space: pre-wrap;
}

.inputs form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inputs form input[type="submit"] {
    grid-column: 1 / span 2;
    min-width: 5rem;
    width: 100%;
}

.header {
    font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="text"]:focus {
    background-color: #ff0;
}

.input-valid, .input-valid:focus {
    outline: none !important;
    border: 2px solid #484 !important;
}
.input-invalid, .input-invalid:focus {
    outline: none !important;
    border: 2px solid #B44 !important;
}

.btn-primary {
    border: 2px solid #77ee77;
    background-color: #66dd66;
}

.btn {
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}

h3 > .btn {
    margin-left: 2rem;
}

.btn-danger {
    border: 2px solid #ee7777;
    background-color: #dd6666;
    color: white;
}
